from fastapi import FastAPI

app = FastAPI(
    title="<%= serviceName %>",
    description="A service for <%= serviceName %>",
    version="0.1.0",
)

@app.get("/")
def read_root():
    return {"message": "Hello from <%= serviceName %>"}
