{
  "compileOnSave": false,
  "compilerOptions": {
    "target": "ES2022",
    "lib": ["ES2022", "dom"],
    "allowJs": false,
    "skipLibCheck": true,
    "esModuleInterop": true,
    "allowSyntheticDefaultImports": true,
    "strict": true,
    "forceConsistentCasingInFileNames": true,
    "noFallthroughCasesInSwitch": true,
    "module": "ESNext",
    "moduleResolution": "bundler",
    "resolveJsonModule": true,
    "isolatedModules": true,
    "noEmit": true,
    "declaration": false,
    "rootDir": ".",
    "baseUrl": ".",
    "importHelpers": true,
    "paths": {}
  },
  "exclude": ["node_modules", "tmp"]
}
