{
  "expo": {
    "name": "{{ project_name }}",
    "slug": "{{ app_name }}",
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon.png",
    "userInterfaceStyle": "light",
    "splash": {
      "image": "./assets/splash.png",
      "resizeMode": "contain",
      "backgroundColor": "#ffffff"
    },
    "assetBundlePatterns": [
      "**/*"
    ],
    "ios": {
      "supportsTablet": true
    },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon.png",
        "backgroundColor": "#FFFFFF"
      },
      "package": "com.{{ project_slug }}.{{ app_name }}"
    },
    "web": {
      "favicon": "./assets/favicon.png"
    },
    {% if include_supabase %}
    "plugins": [
      "expo-location",
      [
        "expo-splash-screen",
        {
          "image": "./assets/splash.png",
          "resizeMode": "contain",
          "backgroundColor": "#ffffff"
        }
      ]
    ],
    {% endif %}
    "extra": {
      "eas": {
        "projectId": "{{ project_slug }}-{{ app_name }}"
      }
    }
  }
}
