/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  swcMinify: true,
  {% if app_framework == 'next' and app_router_style == 'app' %}
  experimental: {
    appDir: true,
  },
  {% endif %}
  {% if include_supabase %}
  env: {
    NEXT_PUBLIC_SUPABASE_URL: process.env.NEXT_PUBLIC_SUPABASE_URL,
    NEXT_PUBLIC_SUPABASE_ANON_KEY: process.env.NEXT_PUBLIC_SUPABASE_ANON_KEY,
  },
  {% endif %}
  images: {
    domains: [
      {% if include_supabase %}
      'localhost',
      {% endif %}
    ],
  },
}

module.exports = nextConfig
