/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  swcMinify: true,
  images: {
    domains: [
      {% if include_supabase %}
      'localhost',
      {% endif %}
    ],
  },
}

module.exports = nextConfig
