/** @type {import('@remix-run/dev').AppConfig} */
module.exports = {
  appDirectory: "app",
  browserBuildDirectory: "public/build",
  serverBuildDirectory: "build",
  devServerPort: 3001,
  publicPath: "/build/",
  serverModuleFormat: "cjs",
  {% if include_supabase %}
  serverDependenciesToBundle: ["@supabase/supabase-js"],
  {% endif %}
  ignoredRouteFiles: ["**/.*"],
  // When running locally during development, we need to make sure we only
  // output sourcemaps when `NODE_ENV` is `development`. You may delete this
  // line if you want sourcemaps in production build.
  sourcemap: process.env.NODE_ENV === "development",
};
