[tools]
node = "{{ node_version | default('20.11.1') }}"
python = "{{ python_version | default('3.12.5') }}"
rust = "{{ rust_version | default('1.80.1') }}"
uv = "{{ uv_version | default('0.9.2') }}"
just = "{{ just_version | default('1.4.1') }}"

[env]
