{
  "$schema": "https://json.schemastore.org/nx.json",
  "npmScope": "{{ project_slug }}",
  "tasksRunnerOptions": {
    "default": {
      "runner": "@nx/workspace/tasks-runners/default",
      "options": {
        "cacheableOperations": [
          "build",
          "test",
          "lint"
        ],
        "accessToken": ""
      }
    }
  },
  "affected": {
    "defaultBase": "main"
  }
}
